body {
    width: 100%;
    font-family: 'Manrope',  monospace;
    background: #F5F5F5;
}

.box {
    width: 1400px;
    margin: auto;
    padding-left: 125px;
    padding-top: 128px;
    background: #FFFFFF;
}
h1 {
    width: 956px;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
}

.home1 {
    width: 1150px;
    height: 500px;
    padding-left: 40px;
    padding-top: 379px;
    margin-bottom: 150px;
    background-image: url(../resourses/home1.png);
}

.home1-text {
    width: 430px;
    height: 81px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
}

h2 {
    margin-bottom: 30px;
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    letter-spacing: -0.03em;
}
.text {
    width: 1048px;
    height: 366px;
    margin-bottom: 30px;
    color: #121212;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    text-align: left;
    letter-spacing: -0.03em;
}

a {
    display: block;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    background-color: rgb(173, 24, 24);
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 67px;
}